.formError{
    color: red;
}
.loginHeader{
    justify-content: center !important;
}
.loginTitle{
  text-align: center;
}
.loginUser{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.loginUsername{
    margin-top: 16px;
}
.loginPassword{
    margin-bottom: 16px;
}
.usernameInput,.passwordInput{
    padding-left: 36px !important;
    height: 46px;
    border-radius: 10px !important;
}
.usernameIcon,.passwordIcon{
    position: absolute;
    margin-left: 12px;
    color: rgb(128, 145, 195);
}
.loginFooter{
    display: flex !important;
    justify-content: center !important;
}
.btnLogin{
    min-width: 140px !important;
    text-transform: uppercase !important;
    border-radius: 20px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
}