.container{
    overflow: hidden;
    margin-bottom: 4px;
}
.cardImage{
    height: 30vh;
    cursor: pointer;
    transition: transform .4s linear;
    &:hover{
        opacity: 0.8;
        transform: scaleX(1.05);
        transition: transform .4s linear;
    }
}
.cardTitle{
    height: 1.8rem;
    line-height: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
.cardDescription{
    height: 3.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.viewButton{
    width: 100%;
}
.cardPost{
    display: flex;
    color: rgb(148, 151, 158);
    align-items: center;
}
.cardPostIcon{
    margin-right: 8px;
}