
.captionText {
  text-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
}
.nameText{
    text-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
}
.carouselImage {
  display: block;
  width: 100%;
  height: calc(100vh - 127px);
  cursor: pointer;
}
