.container{
    width: 30px;
    height:30px;
    border-radius: 50%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-weight: bold;
    margin-right: 16px;
}
.avatarHeader{
    margin-right: 0px;
}